
\.idea/

venv/

archive/

SVM/training/

SVM/__pycache__/

SVM/hlt/__pycache__/

SVM/training_sets/

SVM/Debug/2018-11-03_15:22:03_aggressiveStandardBot_v1/__pycache__/

SVM/Debug/2018-11-03_15:22:03_aggressiveStandardBot_v1/hlt/

SVM/replays/

SVM/bot-0\.log

SVM/bot-1\.log
